/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8d5df9;
  --ifm-color-primary-dark: #834ae2;
  --ifm-color-primary-darker: #6c3dba;
  --ifm-color-primary-light: #9c70f8;
  --ifm-color-primary-lighter: #a77ffc;
  --ifm-color-primary-lightest: #b697f8;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
